body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .background-image {
    background-image: url('sqbb.png');
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: -1;
  }
  
  .container {
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    text-align: center;
    color: #fff;
  }
  
  h1 {
    font-size: 4em;
    margin-bottom: 50px;
  }
  
  p {
    font-size: 1.5em;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
  button {
    background-color: #fff;
    color: #666;
    font-size: 2em;
    padding: 20px 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #666;
    color: #fff;
  }
  